* {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}

/* Establezco un fondo para el header, con un padding top y bottom */
header {
    background-color: rgb(255, 255, 255);
    padding: 9px 0 9px 0;
}

/* Imagen del header */
.flex-img {
    width: 400px;
}

/* Para el menu pongo un fondo blanco, con un paddinf top y bottom. Con position sticky y top 0px le pido que al bajar se mantenga en la parte superior siempre */
nav {
    background-color: rgb(255, 255, 255);
    padding: 20px 0 20px 0;
    position:sticky;
    top:0px;
}

/* Configuro la disposicion de los elementos del menu */
.flex-system {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Configuro los botones del menu, la separacion entre ellos, el color, tamaño y su comportamiento cuando no tienen el cursor arriba */
.flex-menu {
    color: rgb(64, 122, 79);
    text-decoration:none;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 20px;
}
/* Defino que en el menu, al pasar el cursor por los botones, los mismos se pongan de otro color y se subrayen por arriba */
nav a:hover {
    text-decoration: overline;
    color: rgb(251,185,185);
}
.carrito-menu, .carrito-menu:hover {
    color: rgb(64, 122, 79);
    text-decoration:none;
    font-size: 20px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.carrito-menu img {
    width: 22px;
    height: 22px;
    margin-right: 4px;
}

/* Configuro la seccion de inicio, con la imagen de fondo y los margenes adecuados */
.seccionInicio {
    padding-top: 170px;
    padding-bottom: 170px;
    background-image: url(../imagenes/costura.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center;
    color: rgb(87, 104, 84);
}

/* Para el titulo principal de la página establezco el tamaño de la letra, un fondo y un padding superior e inferor */
.titulo-principal {
    background-color: rgba(250, 235, 215, 0.527);
    padding: 80px 0 80px 0;
    font-size:50px;
}

/* Configuro el orden de la seccion Nosotros con su margen y la posición del contenido */
.flex-nosotros {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 200px;
}
/* Establezco la disposicion y los margenes de los elementos en la seccion Nosotros */
.flex-columna {
    display: flex;
    flex-direction: column;
    margin: 30px;
    align-items: flex-start;
    justify-content: left;
}
/* Para todos los titulos secundarios de la pagina, configuro el mismo valor, con un margen inferior que los separe del texto */
h2 {
    font-size: 50px;
    margin-bottom: 10px;
}

/* Configuro la organizacion de la seccion productos, el color de fondo y la posicion del contenido */
.flex-productos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
    background-color: rgb(250, 249, 245);
}
.flex-productos a {
    color: rgb(64, 122, 79);
    text-decoration: none;
    margin-top: 30px;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flex-productos a:hover {
    text-decoration-line: underline;
    color: rgb(251,185,185);
    margin-top: 30px;
}
/* Establezco la disposicion de las cajas de productos en la seccion */
.flex-filaproductos {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Marco los margenes entre las cajas de productos */
.flex-filaproductos article {
    margin: 15px 5px 15px 5px;
}
/* Configuro la caja de productos a la venta */
.product-box {
    width: 280px;
    padding: 20px;
    border: 1px solid #cecde994;
    border-radius: 8px;
    text-align: center;
}

/* Imagenes de las cajas de productos */
.product-box img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* Titulo de las cajas de productos */
.product-box h2 {
    font-size: 20px;
    margin-bottom: 10px;
}
/* Parrafos de las cajas de productos */
.product-box p {
    font-size: 15px;
    color: #666;
    margin-bottom: 20px;
}
/* Botones de las cajas de productos, con su color y transicion  */
.a-button, .a-button-e {
    background-color: rgb(122,143,119);
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Comportamiento del boton cuando el cursor esta arriba */
.a-button:hover {
    background-color: rgb(157, 196, 151);
}

/* Configuro la organizacion de la seccion Contacto, el color de fondo y la posicion del contenido */
.flex-contacto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15px 170px 15px 170px;
    padding: 150px;
}

/* Configuracion de los elementos de la seccion contacto */
.contacto-item {
    margin: 50px;
    padding: 10px;
}

/* Establezco la configuracion de las redes */
.flex-redes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-top: 1px;
    border-top:groove;
    padding-top: 10px;
    margin: 20px 200px 0 0;
}
.flex-redes p {
    width: 100px;
}
/* Definicion de los campos de entrada de datos del formulario */
.input-contacto {
    width: 400px;
    height: 22px;
    margin-bottom: 10px;
}
/* Definicion del campo de texto del formulario */
textarea {
    width: 400px;
    height: 200px;
    resize: none;
    margin-bottom: 10px;
}

/* Configuro la organizacion de la seccion footer, el color de fondo y la posicion del contenido */
.flex-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: rgb(40,101,174);
    color: white;
}

/* Configuracion de los iconos y su disposicion */
.flex-iconos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1px 1px 1px 1px;
}
/* Configuracion del tamaño de los iconos mas pequeños */
.icono {
    width: 25px;
    padding: 10px;
}
/* Configuracion del tamaño del icono de enviar correo electronico */
.icono-grande {
    width: 40px;
    padding: 10px;
    filter: invert();
}

/* Establezco las propiedades para que haya un boton flotante animado que permita enviar un correo  */
.box-bt-flotante{
    display: flex;
    justify-content: end;
    position: sticky;
    bottom: 8%;
    margin: 0 60px 40px 0;
}
/* La configuracion de la parte animada que realiza una iteracion infinita de cinco momentos, cambiando entre los colores principales de la pagina */
.bt-flotante {
    z-index: 1;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border-color: rgba(28, 89, 168, 0);
    animation-name: myanimation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}
/* Dividi la animacion en cinco momentos marcados por el cambio de color */
@keyframes myanimation {
    0% {background-color: rgb(28, 89, 168);}
    25% {background-color: rgb(122,143,119);}
    50% {background-color: rgb(251,185,185)}
    75% {background-color: rgb(122,143,119);}
    100% {background-color: rgb(28, 89, 168);}
}
.promociones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.promocion-item {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
}

.nav-volver img {
    width: 50px;
    margin: 0 0 0 40px;
}
/* Establezco las medidas que deben cambiar para pantallas de hasta 1024px */
@media(max-width:1024px){
.flex-columna img{
    width: 400px;
}
.flex-menu{
    font-size: 20px;
    margin: 0 17px 0 17px;
}
.flex-columna {
    font-size: 12px;
}
h2 {
    font-size: 40px
}
.input-contacto {
    width: 300px;
    height: 20px;
    margin-bottom: 10px;
}
textarea {
    width: 300px;
    height: 200px;
    resize: none;
    margin-bottom: 10px;
}
.product-box {
    width: 180px;
    height: 390px;
}
.product-box h2 {
    font-size: 17px
}
.product-box p {
    font-size: 13px
}
.contacto-item {
    font-size: 13px;
}
article.flex-redes {
    margin: 20px 0 20px 0;
}
.promociones {
    max-width: 500px;
}
.nav-volver img {
    width: 40px;
    margin: 0 0 0 40px;
}
}

/* Establezco las medidas que deben cambiar para pantallas de hasta 768px */
@media(max-width:768px){
.flex-img {
    width: 320px;
}
.flex-menu{
    font-size: 17px;
    margin: 0 15px 0 15px;
}
.titulo-principal {
    font-size: 40px        
}
h2 {
    font-size: 40px;        
}
.flex-columna img{
    width: 370px;
}
.flex-columna {
    font-size: 12px;
}
.flex-nosotros {
    display: flex;
    flex-direction: column;
}
.flex-contacto {
    display: flex;
    flex-direction: column;
}
.flex-filaproductos {
    display: flex;
    flex-direction: column;
}
.product-box {
    width: 300px;
    height: 450px;
}
.product-box h2{
    font-size: 17px
}
.product-box p{
    font-size: 14px
}
.flex-productos {
    padding: 90px;
}
.flex-contacto{
    padding: 90px;
}
article.contacto-item {
    font-size: 13px;
    width: 400px;
    text-align: center;
}
.flex-redes {
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center
}
.promociones {
    max-width: 400px;
}
.nav-volver img {
    width: 30px;
    margin: 0 0 0 40px;
}
.flex-productos a {
    font-size: 20px;
}
}

/* Establezco las medidas que deben cambiar para pantallas de hasta 480px */
@media(max-width:480px) {
.flex-menu {
    margin: 0 9px 0 9px;
    font-size: 15px;
}
.titulo-principal {
    font-size: 35px;
}
.seccionInicio {
    padding-top: 120px;
    padding-bottom: 120px;
}
.flex-columna {
    width: 255px;
    font-size: 13.5px;
}
.flex-columna img{
    width: 255px;
}
.flex-nosotros {
    margin-top: 50px;
    margin-bottom: 50px;
}
.product-box p {
    font-size: 13.5px;
}
.product-box h2 {
    font-size: 16.5px;
}
.product-box {
    height: 455px;
}
.flex-contacto {
    margin: 0;
    padding: 0;
}
article.contacto-item {
    width: 280px;
    text-align: center;
    font-size: 13px;
    margin-bottom: 0px;
}
.input-contacto {
    width: 320px;
    height: 22px;
}
textarea {
    width: 320px;
    height: 150px;
    resize: none;
}
.icono-grande {
    width: 30px;
}
.box-bt-flotante{
    bottom: 4%;
    margin: 0 30px 20px 0;
}
.bt-flotante {
    width: 85px;
    height: 85px;
}
.promociones {
    max-width: 300px;
}
.nav-volver img {
    width: 25px;
    margin: 0 0 0 40px;
}

}

/* Establezco las medidas que deben cambiar para pantallas de hasta 370px */
@media(max-width:370px) {
.flex-img {
    width: 220px;
}
.flex-menu {
    margin: 0 5px 0 5px;
    font-size: 12px;
}
.titulo-principal {
    font-size: 25px;
}
.seccionInicio {
    padding-top: 70px;
    padding-bottom: 70px;
}
.flex-columna {
    width: 240px;
    font-size: 13px;
}
.flex-columna img{
    width: 240px;
}
.flex-nosotros {
    margin-top: 50px;
    margin-bottom: 50px;
}
.product-box p {
    font-size: 13px;
}
.product-box h2 {
    font-size: 16px;
}
.product-box {
    width: 210px;
    height: 390px;
}
.flex-contacto {
    margin: 0;
    padding: 0;
}
article.contacto-item {
    width: 220px;
    text-align: center;
    font-size: 12px;
    margin-bottom: 0px;
}
.input-contacto {
    width: 220px;
    height: 22px;
}
textarea {
    width: 220px;
    height: 120px;
    resize: none;
}
.flex-footer{
    font-size: 13px;
}
.icono-grande {
    width: 20px;
}
.box-bt-flotante{
    bottom: 4%;
    margin: 0 30px 20px 0;
}
.bt-flotante {
    width: 70px;
    height: 70px;
}
.promociones {
    max-width: 200px;
}
.nav-volver img {
    width: 20px;
    margin: 0 0 0 40px;
}
}